<template>
  <ParentComponent/>
  <!-- EJEMPLO DE LAZY LOAD -->
<img v-lazy="lazyOtions" src="" alt="">
  

</template>

<script lang="ts" setup>
  import { ref,Ref,VNode } from 'vue'
  import ParentComponent from '@/components/ParentComponent.vue';

  const lazyOtions:Ref<any> =ref({
    src:'https://picsum.photos/1280/800',
    lifecycle:{
      loading:(el:VNode)=>{console.log('Cargando imagen',el);},
      loaded:(el:VNode)=>{console.log('Imagen cargada',el);},
      error:(el:VNode)=>{console.log('Error al cargar la imagen',el);}
    },
    loading:'loading-pngrepo-com.png',
    error:'sample.jpg',
    delay:500
  })

</script>

<style scoped>
  img[lazy=loading]{
      background-color: blue;
      width: 500px;
  }
  img[lazy=loaded]{
    background-color: blue;
    width: 500px;
    border: 1px solid grey;
  }
  img[lazy=error]{
    width:500px;
    border: 1px solid red;
  }
</style>