<template>
    <div class="child">
        <h1>Child component. Option API</h1>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" :style=estiloPorcentaje></div>
        </div>

        <h2>Porcentaje completado: {{ percetage }} %</h2>
    </div>
</template>

<script lang="ts">
import { onMounted,ref,Ref,defineComponent,defineExpose } from 'vue'

export default defineComponent({
    data(){
        return{
            percetage :0,
            estiloPorcentaje :{'width': this.percetage+" %"}
        }
    },
    methods: {
            recalculate(){
                //actualizar el valor del porcentaje a través del servicio
                this.percetage+=1
                this.estiloPorcentaje.width=this.percetage+"%"
                console.info('Se recalcula desde el servicio del componente hijo. Porcentaje completado: '+this.percetage+' %')
                }
    },
    mounted() {
        this.percetage=0
    }
    }
)
</script>

<style scoped>
    .child{
        background-color:bisque;
        padding: 10px;
    }
</style>