<template>
    <div class="child">
        <h1>Child component. Composition API con <i>setup</i></h1>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" :style=estiloPorcentaje></div>
        </div>

        <h2>Porcentaje completado: {{ percetage }} %</h2>
    </div>
</template>

<script lang="ts" setup>
    import { onMounted,ref,Ref,defineExpose} from 'vue'

    const percetage:Ref<number> =ref(0)

    const estiloPorcentaje:Ref <any> =ref({
        'width': percetage.value+" %"
    })

    onMounted(()=>{
        percetage.value=0
    })

    //se invoca desde el componente padre, es visible gracias al "defineExpose"
    const recalculate=()=>{
        //actualizar el valor del porcentaje a través del servicio
        percetage.value+=1
        estiloPorcentaje.value.width=percetage.value+"%"
        console.info('Se recalcula desde el servicio del componente hijo. Porcentaje completado: '+percetage.value+' %')
    }

    defineExpose({recalculate})

</script>

<style scoped>
    .child{
        background-color: aquamarine;
        padding: 10px;
    }
</style>