<template>
    <div class="child">
        <h1>Child component. Composition API sin <i>setup</i></h1>
        <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" :style=estiloPorcentaje></div>
        </div>

        <h2>Porcentaje completado: {{ percetage }} %</h2>
    </div>
</template>

<script lang="ts">
    import { ref,Ref, defineComponent,onMounted,defineExpose} from 'vue'

    export default defineComponent({
        setup(){

            const percetage:Ref<number> =ref(0)

            const estiloPorcentaje:Ref <any> =ref({
            'width': percetage.value+" %"
            })

            const recalculate=()=>{
                percetage.value+=1
                estiloPorcentaje.value.width=percetage.value+"%"
            } 

            onMounted(()=>percetage.value=0)

            defineExpose({recalculate})  

            return {
                percetage,recalculate,onMounted,estiloPorcentaje
            }
        }
    })
</script>

<style scoped>
    .child{
        background-color:darkgray;
        padding: 10px;
    }
</style>