<template>
    <div class="parent">
        <h1>Parent component</h1>
        <h2>Tipo de componente:</h2>
        <div class="btn-group">
            <button class="btn btn-primary" @click="handleLayout(compositionApiSetup)">Composition API con <i>setup</i></button>
            <button class="btn btn-primary" @click="handleLayout(compositionApiNoSetup)">Composition API sin <i>setup</i></button>
            <button class="btn btn-primary" @click="handleLayout(compositionApiOption)">Option API</button>
        </div>
        <div class="mt-1">
            <button class="btn btn-success" @click="banco">Añadir cuenta bancaria</button>
        </div>  
    </div>
    <component :is="layout" ref="percentageComponent"/>
</template>

<script lang="ts" setup>
import { ref,Ref,defineAsyncComponent } from 'vue'

//esta es la referencia del componente hijo.
const percentageComponent=ref(null)

const compositionApiSetup=defineAsyncComponent(()=>import ('@/components/ChildComponent.vue'))
const compositionApiNoSetup=defineAsyncComponent(()=>import ('@/components/ChildComponentNoSetup.vue'))
const compositionApiOption=defineAsyncComponent(()=>import ('@/components/ChildComponentOption.vue'))

const layout=ref(compositionApiSetup)

const handleLayout=(component:any)=>layout.value=component

const banco=()=>{
    console.info('Se agrega un nuevo dato bancario desde componente padre')
    //conectar con el servicio y subir la información
    //como tenemos referencia del componente hijo, invocamos la función de recalcular de este
    percentageComponent.value.recalculate()
}

</script>

<style scoped>
    .parent{
        background-color:cornsilk;
        padding: 10px;
    }
</style>